<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 500px;
        }

        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="password"], input[type="email"] {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.8;
        }

        .success {
            color: green;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form id="passwordResetForm">
            <input type="email" id="email" placeholder="Enter Your Email" required>
            <button type="submit">Send Reset Password Email</button>
            <p id="message"></p>
        </form>
       
    </div>

    <script>
        document.getElementById('passwordResetForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var email = document.getElementById('email').value;

            // Implement the AJAX call to your /passwordReset endpoint here.
            // Use email variable as part of the payload.
            console.log("Submit email to server for password reset:", email);

            // Example: AJAX call to server
            
            fetch('<%= apiUrl %>/v1/resetPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ emailOrUsername: email }),
            })
            .then((response) => response.text())
            .then((data) => {
                    console.log('Success:', data);
                    // Display success message
                    displayMessage('If a user with that email or username exists, a password reset link has been sent.', "success");
                })
            .catch((error) => {
                console.error('Error:', error);
                // Handle errors, such as displaying a message to the user
            });
        });

        function displayMessage(message, type) {
            const messageElement = document.getElementById('message');
            messageElement.textContent = message;
            messageElement.className = type;
        }
    </script>
</body>
</html>
